{% extends "contenido/padre.html"%}
{% block titulo%}Principal{% endblock %}
{% block imagen%}
	{%load static%}
	{%static 'contenido/images/home.png'%}
{%endblock%}

    
   
    {% block separacion%}
    <div class="page-header mb-4 text-left" style="margin-top: 20px; margin-left: 20px;">
     <div class="page-header">
        <div class="page-title">
            <h2>Bienvenido</h2>
            <p>Este sitio ofrece información sobre cursos de tecnologías de la Información para ayudarte a mejorar tus habilidades.</p>
        </div>
    </div>
    </div>
    {% endblock %}
    {% block contenido%}
    
       
    
    {% endblock %}